@import 'palette';
@import 'var';

* {
  box-sizing: border-box;
}

html {
  min-width: $popup-size-width;
  height: $popup-size-height;
  margin: 0 auto;
  overflow: auto;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: #efefef;
  margin: 0;
}

#popup {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  background: white;
}